<a href="https://colab.research.google.com/github/Abhi23run/Data-Science-/blob/master/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
from datetime import datetime

**Creating a Student class with one class attribute and one method**

In [37]:
class Student:
  salary=10_000
  def __init__(self,name,gender,dob):
    self.name=name
    self.gender=gender
    self.dob=dob
    
  def age_fn(self):
    """This function takes string input as dob and yields out the age of the patient"""
    self.age=datetime.now().year-int(self.dob.split("-")[0])
    print(f"Age of {self.name} is {self.age}")

In [38]:
student_1=Student('Abhinav','M','1997-01-01')
student_2=Student('Aryan','M','2002-10-28')

In [40]:
student_1.salary

10000

In [55]:
[(name,getattr(student_1,name)) for name in dir(student_1) if '__' not in name]

[('age_fn',
  <bound method Student.age_fn of <__main__.Student object at 0x7f46143c8650>>),
 ('dob', '1997-01-01'),
 ('gender', 'M'),
 ('name', 'Abhinav'),
 ('salary', 10000)]

In [49]:
n='__friend'
'_' in n

True

Object `a.contains` not found.