<a href="https://colab.research.google.com/github/Abhi23run/Data-Science-/blob/master/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import numpy as np
from datetime import datetime
from pprint import pprint

**Creating a Student class with one class attribute and one method**

In [71]:
class Student:
  salary=10_000
  def __init__(self,name,gender,dob):
    self.name=name
    self.gender=gender
    self.dob=dob
    
  def age_fn(self):
    """This function takes string input as dob and yields out the age of the patient"""
    self.age=datetime.now().year-int(self.dob.split("-")[0])
    print(f"Age of {self.name} is {self.age}")

**Creating 2 instances of the above Student class**

In [72]:
student_1=Student('s1','M','2007-01-01')
student_2=Student('s2','M','2010-09-01')

**Printing the list of attributes and modules in Student Class and an instance of that class**

In [73]:
# Note : Student class has one function/module (age_fn()) and one class variable/attribute (salary)
print([name for name in dir(Student) if '__' not in name])

['age_fn', 'salary']

In [74]:
# Note : Instance of the student class has one function/module(age_fn()) and 4 attributes (3 input params and 1 class variable)
print([name for name in dir(student_1) if '__' not in name])

['age_fn', 'dob', 'gender', 'name', 'salary']

#### **Our main use case here is to identify which all are attributes and which all are methods (This might be known beforehand for other modules and classes**

In [75]:
#getattr function comes to our rescue here as it gives us the info and underlying value 
print("Instance of class")
pprint([(name,getattr(student_1,name)) for name in dir(student_1) if '__' not in name])
print("Class")
pprint([(name,getattr(Student,name)) for name in dir(Student) if '__' not in name])

Instance of class
[('age_fn',
  <bound method Student.age_fn of <__main__.Student object at 0x7f46143d7890>>),
 ('dob', '2007-01-01'),
 ('gender', 'M'),
 ('name', 's1'),
 ('salary', 10000)]
Class
[('age_fn', <function Student.age_fn at 0x7f4614336440>), ('salary', 10000)]

In [79]:
#use case : identify all the attributes and functions defined for a list 
[(name,getattr(list(),name)) for name in dir(list()) if '__' not in name]

[('append', <function list.append>),
 ('clear', <function list.clear>),
 ('copy', <function list.copy>),
 ('count', <function list.count>),
 ('extend', <function list.extend>),
 ('index', <function list.index>),
 ('insert', <function list.insert>),
 ('pop', <function list.pop>),
 ('remove', <function list.remove>),
 ('reverse', <function list.reverse>),
 ('sort', <function list.sort>)]

In [84]:
a=[2,1,3]
a.sort()

In [85]:
a

[1, 2, 3]

In [86]:
a=[2,1,3]
a.sort

In [87]:
# Note : The list does not get sorted if we correctly invoke the sort function
a

[2, 1, 3]